body {
    background-color: #e1e2e1;
}

.cabecalho {
    display: inline-block;
    padding: 10px 5px;
    background-color: #dc143c;
    width: 100%;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 15px;
}

main {
    background-color: #ffffff;
    padding: 30px;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
}

main .info {
    font-size: 18px;
}

main .principal {
    font-size: 25px;
    color: #dc143c;
    font-weight: 700;
}

.image img {
    width: 100%;
}

@media (max-width: 576px) {
    .cabecalho {
        display: block;
        text-align: center;
        background-color:#0018F9;
    }

    .cabecalho nav {
        float: none;
    }

    .cabecalho nav li {
        display: block;
    }

    .cabecalho nav li a {
        color: #FFFFFF;
    }
}